[hadoop_namenode]
10.0.0.2

[hadoop_secondarynamenode]
10.0.0.3

[hadoop_datanodes]
10.0.0.3
10.0.0.4

[hadoop_all:children]
hadoop_namenode
hadoop_datanodes

[hbase_master:children]
hadoop_namenode

[hbase_regionservers:children]
hadoop_datanodes

[hbase_backup_masters]
10.0.0.3

[hbase_all:children]
hbase_master
hbase_regionservers
