[Unit]
Description=dfs

[Service]
Type=forking
User={{hadoop_user}}
Group={{hadoop_group}}
Restart=on-failure
WorkingDirectory={{hadoop_home}}
ExecStop={{ hadoop_home }}/sbin/hadoop-daemon.sh  --script hdfs stop datanode
ExecStart={{ hadoop_home }}/sbin/hadoop-daemon.sh --script hdfs start datanode
PIDFile=/tmp/hadoop-hadoop-datanode.pid
TimeoutStartSec=2min

[Install]
WantedBy=multi-user.target
